# http://editorconfig.org
root = true

# 所有文件
[*]
# 文件字符集
charset = utf-8
# 换行符类型：lf | cr | crlf
end_of_line = lf
# 缩进风格：space | tab
indent_style = space
# 缩进大小
indent_size = 2
# 文件末尾保留一个空行
insert_final_newline = true

# Markdown 保留原始排版
[*.md]
max_line_length = off
trim_trailing_whitespace = false
