# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Source files
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.vue text eol=lf
*.mjs text eol=lf
*.cjs text eol=lf

# Config files
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Styling
*.css text eol=lf
*.scss text eol=lf
*.less text eol=lf

# Documentation
*.md text eol=lf

# Shell scripts
*.sh text eol=lf
