@import "./sidebar";
@import "./reset";
@import "./dark";

.app-container {
  margin: 20px;

  .search {
    padding: 18px 0 0 10px;
    margin-bottom: 10px;
    background-color: var(--el-bg-color-overlay);
    border: 1px solid var(--el-border-color-light);
    border-radius: 4px;
    box-shadow: var(--el-box-shadow-light);
  }
}
