/* 淡入淡出 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* 平移和淡入淡出 */
.fade-translate-enter-active,
.fade-translate-leave-active {
  transition: opacity 0.3s, transform 0.3s;
}

.fade-translate-enter-from,
.fade-translate-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

/* 缩放 */
.fade-scale-enter-active,
.fade-scale-leave-active {
  transition: transform 0.3s ease-in-out;
}

.fade-scale-enter-from,
.fade-scale-leave-to {
  transform: scale(0);
}

/* 旋转 */
.fade-rotate-enter-active,
.fade-rotate-leave-active {
  transition: transform 0.3s ease-in-out;
}

.fade-rotate-enter-from,
.fade-rotate-leave-to {
  transform: rotate(90deg);
}

/* 面包屑 */
.breadcrumb-transition-enter-active,
.breadcrumb-transition-leave-active {
  transition: all 0.5s;
}

.breadcrumb-transition-enter-from,
.breadcrumb-transition-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

/* Logo动画 */

// 进入动画，2s内过渡到完全不透明(opacity默认值为1，不需要显示声明)
.logo-transition-enter-active {
  transition: opacity 2s;
}

// 进入动画开始时和离开动画的样式状态(opacity)
.logo-transition-enter-from,
.logo-transition-leave-to {
  opacity: 0;
}
