@font-face {
  font-family: YouSheBiaoTiHei;
  src: url("./YouSheBiaoTiHei.woff");
}

@font-face {
  font-family: MetroDF;
  src: url("./MetroDF.woff");
}

@font-face {
  font-family: DIN;
  src: url("./DIN.woff");
}
